<h1>{{genre.name}}</h1>


{{#if games}}
<ul>
    {{#each games}}
        <li>
            <a href="/games/{{id}}">{{title}}</a>
        </li>
    {{/each}}
</ul>
{{else}}
    <p>Il n'y a aucun jeu correspondant à ce genre</p>
{{/if}}

