<h1>Liste des genres</h1>
<ul>
    {{#each genres}}
        <li>
            <a href="/genres/{{id}}">{{name}}</a>
            <!--  // on accède directement aux propriétés de l'objet courant-->
        </li>
    {{/each}}
</ul>