<h1>Liste des genres</h1>
<ul>
<!--    Affiche pour chaque genre son nom et un lien vers sa page spécifique -->
    {{#each genres}}
        <li>
            <a href="/genres/{{id}}" class="link">{{name}}</a>
        </li>
    {{/each}}
</ul>