<header>
    <div class="logo">
        <a href="/"class="logo">Vapeur</a>
    </div>

    <nav>
        <a href="/games" class="b"><div class="boutons">Jeux</div></a>
        <a href="/games/add"class="b"><div class="boutons">Créer un jeu</div></a>
        <a href="/editors"class="b"><div class="boutons">Éditeurs</div></a>
        <a href="/editors/add"class="b"><div class="boutons">Créer un éditeur</div></a>
        <a href="/genres"class="b"><div class="boutons">Genres</div></a>
    </nav>
</header>