    .DragDropSection
    {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 10;

        .DragDropImg
        {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
        }
    }




    form
    {
        align-self: center;

        fieldset
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-color: #18212e;
            border-radius: .7rem;
            legend
            {
                text-align: center;
                font-weight: bolder;
                font-size: 1.5em;
            }

            section
            {
                margin: 2rem 3rem 1rem;
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            & .form_field
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: .6rem 0;

                :first-child
                {
                    margin-right: .5rem;
                }

                input, select
                {
                    background-color: #141b26;
                    border: solid 1px #2b3b54;
                    color: white;
                    min-width: 60%;
                    padding: .2rem .5rem;
                    border-radius: .3rem;
                    &::placeholder
                    {
                        color: white;
                    }
                }
            }

            & .vertical_form_field
            {
                margin: .7rem .5rem;
                display: flex;
                flex-direction: column;

                & label
                {
                    margin-bottom: 0.3rem;
                }
            }

            textarea
            {
                background-color: #141b26;
                border: solid 1px #2b3b54;
                color: white;
                padding: .5rem;
                border-radius: .3rem;
                resize: none;

                &::placeholder
                {
                    text-align: center;
                    margin: .5em;
                    color: white;
                }
            }

            #file-drop
            {
                padding: 1rem;
                border: solid 1px #2b3b54;
                background-color: #1e2a3b55;
                border-radius: .3rem;
                cursor: pointer;
                z-index: 2;
            }

            input[type=file]
            {
                display: none;
                width: 100%;
                height: 100%;
                &::-webkit-file-upload-button
                {
                    cursor: pointer;
                    width: 100%;
                    padding: .4rem .4rem;
                    border: solid 1px #2b3b54;
                    background-color: #1e2a3b;
                    color: white;
                    border-radius: .3rem;
                }
            }

            [type=submit]
            {
                cursor: pointer;
                margin-top: 2rem;
                align-self: center;
                width: 40%;

                padding: .3rem;
                border: solid 1px #2b3b54;
                background-color: #1e2a3b;
                color: white;
                border-radius: .3rem;
            }

            & .drag-over
            {
                border: 2px dashed #2b3b54 !important;
            }

            #preview-container
            {
                display: grid;
                place-items: center;
                img
                {
                    width: 10em;
                    height: auto;
                }
            }
        }
    }