<h1>Les jeux mis en avant</h1>
<ul>
    {{#each games}}
        <li>
            <a href="/games/{{id}}"> <img src="{{filename}}"> <b>{{title}}</b></a> <i>({{Year releaseDate}})</i>
        </li>
    {{/each}}
</ul>