<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style/global.css" />
        <!-- Utilisé pour mettre plusieurs CSS au page si possible -->
        {{#each styles}}
            <link rel="stylesheet" href="/style/{{this}}" />
        {{/each}}
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header }}
        {{{ body }}}
    </body>
</html>