<form method="post" action="/editors">
    <fieldset>
        <legend>Ajout d'un editeur</legend>

        {{> form_field
                name="name"
                type="text"
                required="required"
                label_text="Nom :"
                placeholder="Nom"
                value=editor_name
        }}

        <input type="submit" value="{{ default submit_text "Ajouter"}}">
    </fieldset>
</form>