<h1>liste editeurs</h1>

<ul>
    {{#each editors}}
        <li>
            <a href="/editors/{{id}}">{{name}}</a>
            <!--  // on accède directement aux propriétés de l'objet courant-->
        <form action="/editors/{{id}}/delete" method="post">
            <input type="submit" value="Supprimer">
        </form>
        <a href="/editors/{{id}}/edit">Modifier</a>
        </li>
    {{/each}}
</ul>